<!-- starts chat -->
<section class="app_chat gird">
    <div class="app_chat_text">
        <p class="title_chat">App Chat</p>
        <div class="box_chat">
           <p class="name_customer">Xin chào adc</p>
           <div class="box_chat_input">
            <form action="" method="post">  
                <textarea name="" id=""  cols="40" rows="12" placeholder="Mời bạn nhập tin nhắn"></textarea><br>
                <button type="button" class="btns">Send</button>
            </form>
           </div> 
        </div>
    </div>
    <div class="app_chat_balloons">

        <div class="app_chat_balloon">

            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="app_chat_balloon">

            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="app_chat_balloon">

            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="app_chat_balloon">

            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section> 
<!-- ends chat -->