<section class="gird about_us">
    <div class="title_us">
        <p >ABOUT US</p>
    </div>
    <div class="title_name">

        <p>HỒ ĐÌNH KHA</p>
    </div>
    <div class="content_us">
        <div class="content_left">
            <img src="https://bazantravel.com/cdn/medias/uploads/59/59878-kinh-nghiem-du-lich-tra-vinh-700x525.jpg" alt="">
        </div>
        <div class="content_right">
            <div class="content_infor">
                <p class="content_name">Ước mơ</p>
                <p>Tôi sinh ra và lớn lên Trà Vinh, mảng đất thân yêu của tôi. Tôi bắt đầu học lập trình tại trường Cao Đẳng Công Nghệ Thông Tin với ước mơ trở thành lập trình viên Front-end chuyên nghiệp. Trên con đường trở thành một lập trình viên Front-end, tôi đã lựa chọn Angular để làm bạn đồng hành. Và hôm nay tôi đã có thể tự tạo ra một websiteđơn giảng với người bạn đồng hành là Angular. Website này sẽ là một bước đệm để tôi hoàn thành ước mơ trở thành một lập trình viên Front-end chuyên nghiệp. Tôi hy vọng điều đó sẽ sớm đến với tôi!</p>
            </div>
        </div>
    </div>
    <p class="author_us">JOIN WITH US</p>
</section>