   <!-- starts background app -->
   <section class="background gird">
    <div class="background_top">
        <div class="left"><a href="#">free shipping đơn hàng</a></div>
        <div class="centers"><a href="#">bảo hàng trọn đời</a></div>
        <div class="bottoms"><a href="#">chính sách thẻ thành viên</a></div>
    </div>
    <div class="background_bottom">
        <div class="aspect-ratio-169">
            <a href="">
                <img src="https://pubcdn.ivymoda.com/files/news/2021/12/17/49150f4b8b5e77f3561ba7f0c9dff031.jpg" alt="">
            </a>
            <a href="">
                <img src="https://pubcdn.ivymoda.com/files/news/2021/12/30/14abe600de692150cf81102e93d41d0c.jpg" alt="">
            </a>
            <!-- <a href="">
                <img src="https://pubcdn.ivymoda.com/files/news/2021/12/11/00c3757ac0c9f73be935f07973be89c4.jpg" alt="">
            </a> -->
            <!-- <a href="">
                <img src="https://pubcdn.ivymoda.com/files/news/2021/12/23/f9d75156bcbf9c717c3b2b4578d3d74d.jpg" alt="">
            </a> -->
            
            
        </div>
        <div class="dot-background">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</section>
<!-- ends background app -->

<!-- starts new product -->
 <section class="new_product gird" id="app">
    <div class="title">
        New Arrival
    </div>
    <div class=" product_full">
        <div class="Full_product_index">
            <div class="product">
               
                <div class="img">
                    <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2022/08/02/93056160135022df32c31e4e1ec9cd0e.JPG" alt="">
                </div>
                <div class="title_product">
                    <a href="">Áo vày váy họa tiết kẻ</a>
                </div>
              
                <div class="price_cart">
                    <div class="price">
                        <span>1990000<sub>đ</sub></span>
                    </div>
                    <div class="cart">
                        <button class="#">
                            <i class="fas fa-shopping-bag"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2022/08/02/82193a51a83c93dd2cc256ad24bf252a.JPG" alt="">
                </div>
                <div class="title_product">
                    <a class="title_product">Quần sooc giả váy</a>
                </div>
              
                <div class="price_cart">
                    <div class="price">
                        <span>1990000<sub>đ</sub></span>
                    </div>
                    <div class="cart">
                        <button class="#">
                            <i class="fas fa-shopping-bag"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/07/16/23b5e8b806d4b06fa0bd3edd7cba5604.jpg" alt="">
                </div>
                <div class="title_product">
                    <a href="">Áo công sở Zile eo rút dây</a>
                </div>
              
                <div class="price_cart">
                    <div class="price">
                        <span>1570000<sub>đ</sub></span>
                    </div>
                    <div class="cart">
                        <button class="#">
                            <i class="fas fa-shopping-bag"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="http://localhost:4200/assets/images/anh4.jpg" alt="">
                </div>
                <div class="title_product">
                    <a href="">Váy xếp ly 2 lớp</a>
                </div>
              
                <div class="price_cart">
                    <div class="price">
                        <span>1960000<sub>đ</sub></span>
                    </div>
                    <div class="cart">
                        <button class="#">
                            <i class="fas fa-shopping-bag"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2022/03/22/ae0375cced5e978f329e501ef4a733c2.JPG" alt="">
                </div>
                <div class="title_product">
                    <a href="">Đầm lục cổ xếp</a>
                </div>
              
                <div class="price_cart">
                    <div class="price">
                        <span>895000<sub>đ</sub></span>
                    </div>
                    <div class="cart">
                        <button class="#">
                            <i class="fas fa-shopping-bag"></i>
                        </button>
                    </div>
                </div>
            </div>
         
        </div>
        
    </div>
    <div class="button">
        <a  class="btns"  [routerLink]="[ '/clients/product_women' ]" routerLinkActive="active">Xem Tất Cả</a>
    </div>
</section>
<!-- ends new product -->

<!-- starts colection --> 
<section class="colection gird">
    <div class="img">
        <!-- <img src="https://pubcdn.ivymoda.com/files/news/2022/03/22/f6aa729aca47d2998520c8c542f5d40f.jpg" alt=""> -->

        <img src=" https://pubcdn.ivymoda.com/files/news/2022/08/02/ec263a1c4def983e56cd5edecbeb64ff.jpg" alt="">
        <div class="button">
            <a href="#" class="btns">Xem Ngay BTS</a>
        </div>
    </div>
</section>
<!-- ends colection -->

<!-- start list-ads -->
<section class="list-ads gird">
    <div class="full">
        
            
            <!-- <div class="img">
                <img src="https://pubcdn.ivymoda.com/files/news/2022/03/09/ec0d882550acd70578b5601ecc45ef20.jpg" alt="">
            </div> -->
            <div class="img">
                <img src="https://pubcdn.ivymoda.com/files/news/2022/04/13/4f6bb4bd5cf1974b462eb02214aaf6ac.jpg" alt="">
            </div>
            
            <div class="img">
                <img src="https://pubcdn.ivymoda.com/files/news/2022/04/15/3fde5bff8abe9b56ec9eb3923e19a62e.jpg" alt="">
            </div>
        
        
    </div>
</section>
<!-- ends list-ads -->
<!-- starts gallery -->
<section class="gallery gird">
    <div class="title">
        <p>gallery</p>
    </div>
    <div class="list">
        <div class="full_gallery ">
            <div class="full_gallery-list">
                <div class=" product">
                    <div class="img">
                        <img src="https://pubcdn.ivymoda.com/files/news/2022/04/06/ff2c85a17bb4480bbee28473b163b1be.jpg" alt="">
                    </div>
                </div>
                <div class=" product">
                    <div class="img">
                        <img src="https://pubcdn.ivymoda.com/files/news/2022/04/06/da308f7ca8f1e1875532e3b5542c1294.jpg" alt="">
                    </div>
                </div>
                <div class=" product">
                    <div class="img">
                        <img src="https://pubcdn.ivymoda.com/files/news/2022/04/06/7df3c7daf30012dc9ace05d479ab4cec.jpg" alt="">
                    </div>
                </div>
                <div class=" product">
                    <div class="img">
                        <img src="https://pubcdn.ivymoda.com/files/news/2022/04/06/a79616b0570869d2f19be8bc73bb0e51.jpg" alt="">
                    </div>
                </div>
                <div class=" product">
                    <div class="img">
                        <img src="https://pubcdn.ivymoda.com/files/news/2022/04/15/ea4e270adf8060e384a2fd2cea9d30e6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ends gallery -->