
<!-- starts cart -->
<section class="gird product_cart">
    <div class="full-product_cart" *ngIf="this.checkout.carts.length>0">
        <div class="product_cart-left">
            <div class="title_cart">
                <p>Giỏ hàng của bạn</p>
            </div>
            <div class="table_show_product">
                <table>
                    <tr class="title_table">
                        <th>Ảnh sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Sale</th>
                        <th>Mức giá</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                        <th>Xóa</th>
                    </tr>
                    <tr class="detail_table" *ngFor="let x of checkout.carts;let n=index">
                        <td class="image">
                            <img src="../../../../assets/images/{{x.image}}" alt="">
                        </td>
                        <td class="name">
                            <span>
                                {{x.name}}
                            </span>
                        </td>
                        <td class="sale">
                            <span *ngIf="x.sale>0">(-{{x.sale}}%)</span>
                        </td>
                        <td class="price">
                            <span>{{x.price}}<sub>đ</sub></span>
                        </td>
                        <td class="price">
                           <span>
                            {{x.amount}}
                           </span>
                        </td>
                        <td class="total">
                            <span >
                                {{(x.amount*x.price)*((100-x.sale)/100)}} <sub>đ</sub>
                            </span>
                        </td>
                        
                        <td><button type="button" class="button_remove" (click)="deleteItem(n,x)"><i class="fa-solid fa-trash-can" ></i></button></td>
                    </tr>
                    
                </table>
                
            </div>
            <button  class="btns" [routerLink]="[ '/clients/product_women' ]" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i> Tiếp tục mua hàng</button>
        </div>
        <div class="product_cart-right">
            <div class="payment">
                <div class="title">Tổng tiền giỏ hàng</div>
                
               
                <div class="cart_summary">
                    <td>Tổng sản phẩm:</td>
                    <span ><input type="number" name="" id="" readonly  [value]="checkout.totalAmount"><sub>cái</sub></span>
                </div>
                <div class="cart_summary">
                    <td>Tổng tiền hàng:</td>
                    <span ><input type="number" name="" id="" readonly  [value]="checkout.totalPriceProduct"><sub>VNđ</sub></span>
                </div>
                <div class="cart_summary">
                    <td>Thành tiền:</td>
                    <span ><input type="number" name="" id="" readonly  [value]="checkout.totalPriceProductSale"><sub>VNđ</sub></span>
                </div>
                <div class="cart_summary">
                    <td>Tạm tính:</td>
                    <span ><input type="number" name="" id="" readonly  [value]="checkout.totalPriceProductSale"><sub>VNđ</sub></span>
                </div>

                <div class="cart_note">
                    <div class="check">
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div class="title_order">
                        <span>Đơn hàng của bạn được Miễn phí ship</span>
                    </div>
                </div>
                <div class="order_button">
                    <button type="button" class="btnr" [routerLink]="[ '/clients/order']" (click)="createOder()" routerLinkActive="active">Đặt hàng</button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="product_noproduct" *ngIf="this.checkout.carts.length<=0"> 
        <div class="cart_empty">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <p class="product_empty">Bạn chưa chọn sản phẩm</p>
        <p class="cart_back" [routerLink]="[ '/clients/product_women' ]" routerLinkActive="active"><< Tiếp tục mua hàng ?</p>
    </div>
</section>
<!-- ends cart -->
