<!-- starts category -->
<section class="category gird">
    <div class="list_address">
        <span>Trang chủ - Hàng Nữ - Chân Váy</span>
    </div>
    <div class="list_product">
        <div class="category_left">
            <div class="list_menu">
                <div class="detal_menu">
                    <ul>
                        <li>
                            <a href="#">Size</a><i class="fa-solid fa-plus"></i>
                        </li>
                        <li>
                            <a [appSort]="product_list_women" data-ord="asc" data-name="price" style="cursor: pointer;">Giá: cao đến thấp</a><i class="fa-solid fa-plus"></i>
                        </li>
                        <li>
                            <a [appSort]="product_list_women" data-order="desc" data-name="price" style="cursor: pointer;">Giá: thấp đến cao</a><i class="fa-solid fa-plus"></i>
                        </li>
                        <li>
                            <a [appSort]="product_list_women" data-order="asc" data-name="name" style="cursor: pointer;">Tên: tăng dần </a><i class="fa-solid fa-plus"></i>
                        </li>
                        <li>
                            <a [appSort]="product_list_women" data-order="desc" data-name="name" style="cursor: pointer;">Tên: giảm dần</a><i class="fa-solid fa-plus"></i>
                        </li>
                    </ul>
                </div>
                <div class="button_filter">
                    <button class="btns">Bỏ lọc</button>
                    <button class="btns">Lọc</button>
                </div>
            </div>
        </div>
        <div class="category_right">
            <div class="title_detal">
                <span>Váy nữ</span>
            </div>
            <div class="produc_all" >
              
                <div class="boxs" *ngFor="let x of product_list_women | paginate:{itemsPerPage:4, currentPage:p}">
                    <div class="image">
                       
                            <p class="sale" *ngIf="x.sale>1">-{{x.sale}}%</p>
                        <img src="../../../../assets/images/{{x.image}}" alt="">
                    </div>
                    <div class="title_detal">
                        <span><a [routerLink]="[ '/clients/product_detail',x.id]" routerLinkActive="active" >{{x.name}}</a></span>
                    </div>
                    <div class="detal_pay">
                        <div class="price_detal">
                            <span>{{x.price}}<sub>đ</sub></span>
                        </div>
                        <div class="button_detal">
                            <button type="button" [routerLink]="[ '/clients/cart',x.id]"   routerLinkActive="active">
                                <i class="fas fa-shopping-bag"></i>
                            </button>
                        </div>
                        
                    </div>
                </div> 
            </div>
            <div class="paginate_product">
                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="detal_infor">
        <span>
           <B> Chân váy </B>là một trong những trang phục quen thuộc đối với mỗi cô gái và là món “bảo bối” không thể thiếu trong tủ đồ của mỗi chị em. Chỉ cần biết cách phối đồ chút là bạn đã có một outfit thật tuyệt chào đón ngày mới. Hãy để Thời Trang IVY moda giới thiệu tới các bạn top những chân váy, mẫu chân váy dài, chân váy ngắn, chân váy chữ A, chân váy dài, các kiểu chân váy đẹp nhất hiện nay chỉ có tại IVY moda nhé.
        </span>
    </div>
</section>
<!-- ends category -->