
<div class="divChart">
    <div class="container_chart">
        <p class="title_chart">Biểu đồ Admin của trang web</p>
        <canvas item-order="chart" id="myChart"></canvas>
    </div>
    <div class="comment_chart">
        <p class="title_c">Chú thích:</p>
        <div class="div">

            <p class="c1"></p><p>&emsp;Đơn vị : cái</p>
        </div>
        <div class="div1">

            <i class="c2"></i><p>&emsp;Đơn vị : triệu</p>
        </div>
        <div class="div2">

            <p class="c3"></p><p>&emsp;Đơn vị : cái</p>
        </div>
        <div class="div3">

            <p class="c4"></p><p>&emsp;Đơn vị : tài khoản</p>
        </div>
    </div>
</div>
