
 <!-- starts product_details -->
 <section class="product_details gird">
    <ul>
        <div class="detail_menu-top">
            <p>Trang chủ - Nữ - {{proDetail.name}}</p>
        </div>
        <div class="detail">
            <div class="detail_img">
                <img src="../../../../assets/images/{{proDetail.image}}" alt="">
            </div>
            <div class="detail_infor">
                <div class="bg-detail">
                    <p class="name">{{proDetail.name}}</p>
                    <p class="price">{{proDetail.price}}<sub>đ</sub></p>
                    <p class="price" style="color: red;">Sale {{proDetail.sale}} %<sub></sub></p>
                    <div class="start_check">
                        <p class="code_pro">SKU: 48B9175</p>
                        <div class="starts">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="button_detail">
                        <div class="btns" [routerLink]="[ '/clients/cart',proDetail.id]" routerLinkActive="active">Mua Hàng</div>
                         <div class="btns"><i class="fa-solid fa-heart"></i></div>
                    </div>
                    <div class="title_detail">Giới thiệu về sản phẩm</div>
                    <div class="content_detail">
                        Đầm dáng yếm có 2 dây đai vai. Phía trước được nhấn chun để tạo độ bó. Phía sau phối khyu bọc và tạo hình nơ từ dây đai đầm. Dáng đầm suông, xòe dần về phía cuối.<br>
                        Một chiếc đầm lụa với chất liệu nhẹ nhàng sẽ khiến ngày mới của quý cô dễ chịu hơn. Thiết kế lệch vai khoe khéo bờ vai nàng, phù hợp với thời tiết mùa hè nhưng vẫn giữ nguyên độ chỉn chu và lịch sự. 
                        <br><br>
                        <div class="dress_size"><strong>Mẫu mặc size S:</strong></div> 
                        <div class="dress_size"><strong>Chiều cao:</strong> 1m68 </div>
                        <div class="dress_size"><strong>Cân nặng:</strong> 52kg</div>
                        <div class="dress_size"><strong>Số đo 3 vòng:</strong> 83-62-95cm</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </ul>
</section>
<!-- ends product_details -->